node_modules/

.*.swp
.idea/
.DS_Store
.vscode/
.history/
npm-debug.log
tsconfig.json
spec/
coverage/
flow/

dist/
build/
config/
scripts/

gulpfile.js

.gitignore

.eslintrc.js
configs/**/*.js
packages/**/*.js
